@import url(https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap);

@font-face{
    font-family:Pinterest-1;
    src:url("fonts/Pinterest-Sans-Pro-Bold.otf") format("opentype");
}
@font-face{
    font-family:Pinterest-2;
    src:url("fonts/Pinterest-Sans-Pro-Regular.otf") format("opentype");
}
@font-face{
    font-family:Pinterest-3;
    src:url("fonts/Pinterest-Sans-Pro-Regular-Italic.otf") format("opentype");
}
@font-face{
    font-family:Pinterest-4;
    src:url("fonts/Pinterest-UI-Pro-Bold.otf") format("opentype");
}
h1,h2,h3{
    font-weight: 400;
    font-family: Pinterest-2, sans-serif!important;
}
p{
    font-size: 18px;
    line-height: 36px;
    font-family: Pinterest-2, sans-serif!important;
}
a{
    font-size: 18px;
    font-family: Pinterest-2, sans-serif!important;
	text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
	display: block;
}
ul li{
    list-style: none;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
}
.row::after{
    display: table;
    clear: both;
    content: "";
}
.col-1 {width: 8.33%}
.col-2 {width:16.66%}
.col-3 {width:25%}
.col-4 {width:33.33%}
.col-5 {width:41.66%}
.col-6 {width:50%}
.col-7 {width:58.33%}
.col-8 {width:100%}
.col-9 {width:75%}
.col-10 {width:83.33%}
.col-11 {width:91.66%}
.col-12 {width:100%}

.Header ul.header_ls2 li.selected{
    box-shadow: 5px 5px #000;
    background-image: linear-gradient(to bottom right,#4023E3, #A623E3);
}
.Header ul.header_ls2 li.selected a{
    color: #fff;
}
/* ######## div-2 (Intro) ########*/
.intro {
    display: block;
    background-image: url('Media/Graphic_designer_media/intro_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px 10px;
}
.intro .row .col-5 {
    margin:auto;
    padding: 40px 10px;
}
.intro .row .col-5 h1{
    font-size: 48px;
    font-weight: bolder;
    color: #fff;
    transition: 1s;
}
.intro .row .col-5 h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.intro .row .col-5 h2{
    font-size: 28px;
    line-height: 46px;
    color: #fff;
}
.intro .row .col-5 button{
    background-color: #000;
    margin: 40px 10px;
    padding: 15px 40px;
    border: 2px solid #fff;
    transition: 0.5s;
}
.intro .row .col-5 button a{
    font-size: 20px;
    color: #fff;
}
.intro .row .col-5 button:hover{
    box-shadow: 5px 5px 0px rgba(256,256,256,1);
    border: 2px solid #fff;
    background-image: linear-gradient(to bottom right,#2386E3, #A623E3);
}
.intro .row .img_col{
    text-align: center;
}
.intro .row .col-5 img{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    transition: 1s;
}
.intro .row .col-5 img:hover{
    box-shadow: 0px 0px 50px rgba(256,256,256,1);
    border-radius: 50%;
}
/* ######## div-3 (Graphic) ########*/
.graphic{
    display: block;
    margin: 40px 20px;
    padding: 10px 20px 80px 20px;
}
.graphic h1{
    font-size: 32px;
    padding: 20px 40px;
    margin: 0px;
}
.graphic .row .col-3{
    background-color: #fff;
    margin: 40px 10px;
    padding: 0px;
    height: auto;
    border: 2px solid #000;
    transition: 1s;
}
.graphic .row .col-3:hover {
    box-shadow: 10px 10px 12px rgba(0,0,0,1);
}
.graphic .row .col-3 .inner_div2 {
    text-align: center;
}
.graphic .row .col-3 .inner_div2 img{
    /* opacity: 80%; */
    background-color: #000;
    height: 450px;
    /* height: 90%;s */
    width: 100%;
}
.graphic .row .col-3 .inner_div2 h1{
    font-size: 18px;
    height: 100px;
    color: #fff;
    background-color: #000;
    font-weight: bolder;
}
.graphic .row .col-3 .inner_div2 h1:hover{
    cursor: pointer;
}
.graphic .row .col-3 .inner_div2 p{
    font-size: 18px;
    line-height: 34px;
    margin: 0px;
}
.popup-image{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
}
.popup-image span{
    position: absolute;
    top: 0;
    right:10px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    z-index: 100;
    cursor: pointer;
}
.popup-image .inner_div2 img{
    position: absolute;
    top: 52.5%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    border-radius: 4px;
    object-fit: cover;
    max-height: 89%;
    max-width: 90%;
}
.popup-image .inner_div2 h1{
    display: block;
    position: absolute;
    color: #fff;
    top: 0px;
    left: 20px;
}

/* ########## Mobile responsive ############ */

@media screen and (max-width:1000px){
    /* ######## div2 (Intro) ########*/
    .intro .row .col-5{
        width: 80%;
    }
    .intro .row .col-5 h1{
        font-size: 34px;
    }
    .intro .row .col-5 h2{
        font-size: 18px;
        line-height: 46px;
        font-weight: bolder;
    }
    .intro .row .col-5  img{
        box-shadow: 0px 0px 50px rgba(256,256,256,1);
        height: 250px;
        width: 250px;
    }
    .intro .row .col-5 button{
        box-shadow: 5px 5px 0px rgba(256,256,256,1);
        border: 2px solid #fff;
        background-image: linear-gradient(to bottom right,#2386E3, #A623E3);
    }

    /* ######## div3 (Graphic Designer) ########*/
    .graphic .row .col-3 {
        width: 90%;
        box-shadow: 10px 10px 12px rgba(0,0,0,1);
    }
    .graphic .row .col-3 .inner_div2 h1{
        font-size: 24px;
    }
    .popup-image .inner_div2 h1{
        font-size: 18px;
    }
}
@media screen and (max-width:1000px) {
    
}